[Unit]
Description=go-chat-tg
StartLimitBurst=2
StartLimitIntervalSec=15

[Service]
ExecStart=go-chat-bot
StandardOutput=journal
StandardError=journal
#
Environment="TELEGRAM_API_KEY="
Environment="OPENAI_API_KEY="
Environment="WELCOME_MESSAGE="
#
SyslogIdentifier=go-chat-tg
SyslogLevelPrefix=false
LogLevelMax=debug
#
Restart=always
RestartSec=5
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target